
{%- comment -%}
<section class="section is-width-standard has-gutter-enabled image-strip-section">
<div class="image-strip-title">
  <h2 class="title">{{ section.settings.title }}</h2>
</div>
  <div class="container image-strip-container">
    {% for block in section.blocks %}
      <div class="column one-third medium-down--one-whole">
        <div class="wulf-collection-grid-item">
          <div class="wulf-overlap-title">{{block.settings.title}}</div>
          <div class="wulf-overlap-image">
            <img src="{{block.settings.image | img_url:'300x300', crop:'center' }}" />
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{%- endcomment -%}

<section class="is-width-standard section">
  <div class="container testimonials-custom-fields history-images-strip">
    <div class="one-fourth medium-down--one-whole images-strip-title-wrapper">
      <h2 class="chefs-section-title">{{section.settings.title}}</h2>
    </div>
    <div class="three-fourths medium-down--one-whole">
      <div class="container image-strip-container">
        {% for block in section.blocks %}
          <div class="column one-third medium-down--one-whole">
            <div class="wulf-collection-grid-item">
              <div class="wulf-overlap-image">
                <img src="{{block.settings.image | img_url:'300x300', crop:'center' }}" />
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
#shopify-section-{{ section.id }} {
  background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
#shopify-section-{{ section.id }} .chefs-section-title,
#shopify-section-{{ section.id }} .chefs-section-title p,
#shopify-section-{{ section.id }} .chefs-section-title a {
  font-size: {{ section.settings.title_size }}px;
  color: {{ section.settings.title_color }};
}
/**/
</style>