<div id="metafieldAccordion" class="faq-template-section jsFAQ">
{% assign description_namespace = product.metafields.product_description %}
{% assign key = 'In the Kitchen' %}
{% assign key = 'In the Kitchen' %}
<!-- snippet is accordion-with-articles  -->
<!-- {{description_namespace}} -->
<!-- {{description_namespace}} -->
<!-- {{key}} --> 


 
{% assign article_list = '' %}
{% assign blog_handles = "chef-box-series,americas-test-kitchen,ask-a-fishmonger,chefs-at-home,hooked,from-the-journal,the-perfect-pair,wulfs-blog,wulfs-kitchen,wulf-s-troquet-meal-kits" | split: "," %}
  {% for handle in blog_handles %}
    {% assign myblog = blogs[handle] %}
    {% paginate myblog.articles by 100 %}
      {% for article in myblog.articles %}
        {% if article.metafields.custom_fields["related_products"] != blank %}
        {% assign separator = "|###|" %}
        {% assign related_product_array = article.metafields.custom_fields["related_product"] | split: separator %}
        {% assign fc_keys = article.metafields.custom_fields["related_products"] | split: "," %}
        {% for i in fc_keys %}
          {% assign index = i | plus: 0 %}
              {%if related_product_array[index] == product.handle %}
                {% assign article_list = article_list | append: article.handle | append: ';' %}
                {% comment %}
                  {% include 'include-blog-card' %}
                {% endcomment %}
              {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}
{% endfor %}
<!-- Full article list desktop: {{ article_list }} -->
{% assign article_array = article_list | remove_last: ';' | split: ';' %}

  <dl class="faq-accordion accordion-icon--carets faq-accordion-desktop">
    {% if product.metafields.custom_fields["in_the_kitchen"] != blank %}
        <dt>
          <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-in-the-kitchen" aria-expanded="false">
            {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
            In The Kitchen
          </button>
        </dt>
        <dd id="panel-in-the-kitchen" aria-hidden="false">
          <div class="content">
            {{ product.metafields.custom_fields["in_the_kitchen"] }}
          </div>
        </dd>
    {% endif %}

    {% if article_array.size > 0 %}
        <dt>
          <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-articles" aria-expanded="false">
            {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
            Recipes
          </button>
        </dt>
        <dd id="panel-articles" aria-hidden="false">
          <div class="content">
            {% assign blog_handles = "chef-box-series,americas-test-kitchen,ask-a-fishmonger,chefs-at-home,hooked,from-the-journal,the-perfect-pair,wulfs-blog,wulfs-kitchen,wulf-s-troquet-meal-kits" | split: "," %}
              {% for handle in blog_handles %}
                {% assign myblog = blogs[handle] %}
                {% paginate myblog.articles by 100 %}
                  {% for article in myblog.articles %}
                    {% if article.metafields.custom_fields["related_products"] != blank %}
                    {% assign separator = "|###|" %}
                    {% assign related_product_array = article.metafields.custom_fields["related_product"] | split: separator %}
                    {% assign fc_keys = article.metafields.custom_fields["related_products"] | split: "," %}
                    {% for i in fc_keys %}
                      {% assign index = i | plus: 0 %}
                      {%if related_product_array[index] == product.handle %}
                        {% assign article_list = article_list | append: article.handle | append: ';' %}
                          {% include 'include-blog-card-accordion' %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endpaginate %}
            {% endfor %}
          </div>
        </dd>
    {% else %}
      {% if product.metafields.custom_fields["recipes"] != blank %}
          <dt>
            <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-in-the-kitchen" aria-expanded="false">
              {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
              Recipes
            </button>
          </dt>
          <dd id="panel-in-the-kitchen" aria-hidden="false">
            <div class="content">
              {{ product.metafields.custom_fields["recipes"] }}
            </div>
          </dd>
      {% endif %}
    {% endif %}

    {% if product.metafields.custom_fields["sustainability"] != blank %}
        <dt>
          <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-in-the-kitchen" aria-expanded="false">
            {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
            Sustainability and Certifications
          </button>
        </dt>
        <dd id="panel-in-the-kitchen" aria-hidden="false">
          <div class="content">
            {{ product.metafields.custom_fields["sustainability"] }}
          </div>
        </dd>
    {% endif %}
    {% if product.metafields.custom_fields["ingredients"] != blank %}
        <dt>
          <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-in-the-kitchen" aria-expanded="false">
            {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
            Ingredients
          </button>
        </dt>
        <dd id="panel-in-the-kitchen" aria-hidden="false">
          <div class="content">
            {{ product.metafields.custom_fields["ingredients"] }}
          </div>
        </dd>
    {% endif %}
    {% if product.metafields.custom_fields["shopping_list-outside_of_wulfs"] != blank %}
        <dt>
          <button class="accordion-style--carets accordion__button" type="button" aria-controls="panel-in-the-kitchen" aria-expanded="false">
            {% include settings.icon, name: 'down-caret', icon_class: 'icon--rotate' %}
            Shopping List
          </button>
        </dt>
        <dd id="panel-in-the-kitchen" aria-hidden="false">
          <div class="content">
            {{ product.metafields.custom_fields["shopping_list-outside_of_wulfs"] }}
          </div>
        </dd>
    {% endif %}


  </dl>
</div>

<script data-theme-editor-load-script src="{{ 'z__jsFAQ.js' | asset_url }}"></script>


<script>

    var $faqHeading = $('.faq-accordion > dt > button');
    console.log($faqHeading);
    $('.faq-accordion > dd').attr('aria-hidden', true);
    $faqHeading.attr('aria-expanded', false);
    $faqHeading.on('click activate', function () {
      console.log('accordion click');
      var faqTitle = $(this);
      var faqIcons = $(this).find('.icon');
      var state = $(this).attr('aria-expanded') === 'false' ? true : false;
      $(this).attr('aria-expanded', state);
      $(this).parent().next().slideToggle(function () {
        if (faqIcons.hasClass('icon--active')) {
          faqIcons.toggleClass('icon--active');
        }
      });
      $(this).parent().next().attr('aria-hidden', !state);
      if ( $('#panel-articles').length ) {
        var minTitleHeight = 0;
        var minImageHeight = 0;
        $('#panel-articles .image-element__wrap').each(function(){
          console.log($(this).height());
          if ( $(this).height() > minImageHeight ) {
            minImageHeight = $(this).height();
          }
        });
        $('#panel-articles .image-element__wrap').each(function(){
          $(this).height(minImageHeight);
        });
        console.log({minImageHeight});

      }
      return false;
    });
    $faqHeading.on('keydown', function (event) {
      var keyCode = event.keyCode || e.which;

      if (keyCode === 13) {
        $(this).trigger('activate');
      }
    });

</script>