<!-- product articles  -->

{% if product.metafields.custom_fields["related_posts"] != blank %}
  <section class="section__wrapper section">
    <div class="custom-field custom-field__related-posts custom-field__type--field-collection">
    <h1 class="featured-collection__title title">{{section.settings.title}}</h1>
      <div class="custom-field--value">
        {% assign separator = "|###|" %}
        {% assign post_array = product.metafields.custom_fields["post"] | split: separator %}
        {% assign fc_keys = product.metafields.custom_fields["related_posts"] | split: "," %}
        <div class="container">
          {% for i in fc_keys %}
            <!-- next i is {{i}} -->
            {% assign index = i | plus: 0 %}
            {% assign article_blog_handle = post_array[index] | split: "." %}
            <!--  article_blog_handle =  {{article_blog_handle}}  article_blog_handle[0] = {{article_blog_handle[0]}}   article_blog_handle[1] = {{article_blog_handle[1]}}  -->
            {% for article in blogs[article_blog_handle[0]].articles %}
              {% if article.handle contains article_blog_handle[1] %}
                <!-- {{ article.title | link_to: article.url }} -->
                {% include 'include-blog-card' %}

              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}



{% schema %}

{
  "name": "Related Articles",
  "class": "blog-main has-sidebar-option jsBlog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Related Posts Title",
      "default": "Cook With This Product!"
    }
  ]
}

{% endschema %}
